<div class="center jumbotron" align="center">
  <h1>Ruby On Rails-Active Record-MongoDB </h1>
  <h2>
    Grupo D<br>2015
  </h2>
  <%= link_to "Start Prototipe", 'index_prototipe', class: "btn btn-lg btn-primary" %>
</div>
